name: Kotlin CI with Gradle

on:
  push:
<<<<<<< HEAD
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
=======
    branches: '*'
  pull_request:
    branches: '*'
>>>>>>> ffff68714198f1ca26fa37cd93bad2cfff275d18

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --info
